<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.SecHos_PatientDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.SecHos_Patient" id="patientMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="patientBirth" column="patient_birth"/>
        <result property="patientName" column="patient_name"/>
        <result property="patientSex" column="patient_sex"/>
        <result property="patientIdcard" column="patient_idcard"/>
        <result property="patientAddress" column="patient_address"/>
        <result property="patientMobile" column="patient_mobile"/>
        <result property="openid" column="openid"/>
		<result property="headImgUrl" column="headimgUrl"/>
		<result property="patientStatus" column="patient_status"/>
		<collection property="hospitalizedList" ofType="com.basic.javaframe.entity.SecHos_hospitalized">
		    <id column="hospitalizedRowId" property="rowId"/>
            <result property="rowGuid" column="hospitalizedrowGuid"/>
            <result property="medicalNumber" column="medical_number"/>
            <result property="patid" column="patid"/>
            <result property="hospitalizedStatus" column="hospitalized_status"/>
		</collection>
		<collection property="outpatients" ofType="com.basic.javaframe.entity.SecHos_Outpatient">
		    <id column="outpatientRowId" property="rowId"/>
            <result property="rowGuid" column="outpatientrowGuid"/>
            <result property="medicalNumberMZ" column="medical_numberMZ"/>
            <result property="patidMZ" column="patidMZ"/>
		</collection>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.SecHos_Patient">
		select * from sechos_patient t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from sechos_patient t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="patientBirth != null and patientBirth != ''"> and t.patient_birth = #{patientBirth} </if>
    		<if test="patientBirthVague != null and patientBirthVague != ''"> and t.patient_birth like concat('%',#{patientBirthVague},'%') </if>
            <if test="patientName != null and patientName != ''"> and t.patient_name = #{patientName} </if>
    		<if test="patientNameVague != null and patientNameVague != ''"> and t.patient_name like concat('%',#{patientNameVague},'%') </if>
            <if test="patientSex != null and patientSex != ''"> and t.patient_sex = #{patientSex} </if>
    		<if test="patientSexVague != null and patientSexVague != ''"> and t.patient_sex like concat('%',#{patientSexVague},'%') </if>
            <if test="patientIdcard != null and patientIdcard != ''"> and t.patient_idcard = #{patientIdcard} </if>
    		<if test="patientIdcardVague != null and patientIdcardVague != ''"> and t.patient_idcard like concat('%',#{patientIdcardVague},'%') </if>
            <if test="patientAddress != null and patientAddress != ''"> and t.patient_address = #{patientAddress} </if>
    		<if test="patientAddressVague != null and patientAddressVague != ''"> and t.patient_address like concat('%',#{patientAddressVague},'%') </if>
            <if test="patientMobile != null and patientMobile != ''"> and t.patient_mobile = #{patientMobile} </if>
    		<if test="patientMobileVague != null and patientMobileVague != ''"> and t.patient_mobile like concat('%',#{patientMobileVague},'%') </if>
            <if test="openid != null and openid != ''"> and t.openid = #{openid} </if>
    		<if test="openidVague != null and openidVague != ''"> and t.openid like concat('%',#{openidVague},'%') </if>
            <if test="patid != null and patid != ''"> and t.patid = #{patid} </if>
    		<if test="patidVague != null and patidVague != ''"> and t.patid like concat('%',#{patidVague},'%') </if>
			<if test="headImgUrl != null and headImgUrl != ''"> and t.headimgUrl = #{headImgUrl} </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.SecHos_Patient" useGeneratedKeys="true" keyProperty="rowId">
		insert into sechos_patient
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`patient_birth`, 
			`patient_name`, 
			`patient_sex`, 
			`patient_idcard`, 
			`patient_address`, 
			`patient_mobile`, 
			`openid`, 
			`headimgUrl`,
			`patient_status`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{patientBirth}, 
			#{patientName}, 
			#{patientSex}, 
			#{patientIdcard}, 
			#{patientAddress}, 
			#{patientMobile}, 
			#{openid}, 
			#{headImgUrl},
			#{patientStatus}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.SecHos_Patient">
		update sechos_patient
		<set>
			<if test="rowGuid != null">`row_guid` = #{rowGuid}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="patientBirth != null">`patient_birth` = #{patientBirth}, </if>
			<if test="patientName != null">`patient_name` = #{patientName}, </if>
			<if test="patientSex != null">`patient_sex` = #{patientSex}, </if>
			<if test="patientIdcard != null">`patient_idcard` = #{patientIdcard}, </if>
			<if test="patientAddress != null">`patient_address` = #{patientAddress}, </if>
			<if test="patientMobile != null">`patient_mobile` = #{patientMobile}, </if>
			<if test="openid != null">`openid` = #{openid}, </if>
			<if test="headImgUrl != null">`headimgUrl` = #{headImgUrl},</if>
			<if test="patientStatus != null">`patient_status` = #{patientStatus}</if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		update sechos_patient set `del_flag` = 1 where row_guid in
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>

	<!--根据openid查询就诊人-->
	<select id="getPatientByOpenid" resultMap="patientMap">
		select p.*,h.row_id as hospitalizedRowId,h.row_guid as hospitalizedrowGuid,
		h.medical_number,h.patid,h.hospitalized_status,
		o.row_id as outpatientRowId,o.row_guid as outpatientrowGuid,
		o.medical_numberMZ,o.patidMZ 
		from sechos_patient p left join sechos_hospitalized h
		on p.row_guid = h.patient_rowGuid
		left join sechos_outpatient o
		on p.row_guid = o.patient_rowGuidMZ
		where p.openid =#{openid} and p.del_flag=0
	</select>
</mapper>